<div class="blog-card">
    <div class="blog-card-content">
        <h3 class="blog-card-title">
            <a href="{{ post.url }}" class="blog-card-link">{{ post.data.title }}</a>
        </h3>
        <div class="blog-card-meta">
            <time datetime="{{ post.date | formatISO }}">{{ post.date | formatDate }}</time>
            {% if post.data.readingTime %}
            <span class="blog-card-reading-time">{{ post.data.readingTime }} min read</span>
            {% endif %}
        </div>
        {% if post.data.description %}
        <p class="blog-card-description">{{ post.data.description }}</p>
        {% endif %}
        {% if post.data.tags and post.data.tags.length > 0 %}
        <div class="blog-card-tags">
            {% for tag in post.data.tags %}
            <span class="blog-card-tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div> 