<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/layout/head.njk" %}
</head>
<body class="layout">
    {% include "components/layout/nav.njk" %}
    {% include "components/layout/background.njk" %}
    
    <main class="layout-content">
        {% include "components/layout/container.njk" %}
    </main>

    {% include "components/layout/footer.njk" %}
    <script src="/js/main.js" defer></script>
</body>
</html> 