---
layout: base.njk
templateClass: template-blog
bodyClass: page-blog
seo:
  changefreq: daily
  priority: 0.8
  robots: index, follow
components:
  header:
    sticky: true
  footer:
    showNewsletter: true
---

<article class="blog-page">
    <header class="blog-header">
        {% include "components/ui/page-title.njk" %}
        {% include "components/ui/submit-banner.njk" with global.components.submitBanner %}
    </header>

    <section class="blog-grid">
        {% for post in collections.blog | reverse %}
            {% include "components/ui/blog-card.njk" %}
        {% endfor %}
    </section>
</article> 