---
layout: base.njk
templateClass: template-home
bodyClass: page-home
seo:
  changefreq: daily
  priority: 1.0
  robots: index, follow
components:
  header:
    sticky: false
    transparent: true
  footer:
    showNewsletter: true
---

<article class="home">
    {{ content | safe }}
</article> 