---
layout: base.njk
templateClass: template-projects
bodyClass: page-projects
seo:
  changefreq: weekly
  priority: 0.8
  robots: index, follow
components:
  header:
    sticky: true
  footer:
    showNewsletter: true
---

<article class="projects-page">
    {% include "components/ui/page-title.njk" %}
    {% include "components/ui/submit-banner.njk" with global.components.submitBanner %}
    
    <div class="projects-grid">
        {% for project in collections.projects %}
            {% include "components/ui/project-card.njk" %}
        {% endfor %}
    </div>
</article> 