---
layout: base.njk
templateClass: template-projects
bodyClass: page-projects
seo:
  changefreq: weekly
  priority: 0.8
  robots: index, follow
components:
  header:
    sticky: true
  footer:
    showNewsletter: true
---

<article class="projects-page">
    <header class="projects-header">
        {% include "components/ui/page-title.njk" %}
        {% set submitBanner = global.components.submitBanner %}
        {% include "components/ui/submit-banner.njk" %}
    </header>
    
    <section class="projects-grid">
        {% for project in collections.projects | reverse %}
            {% include "components/ui/project-card.njk" %}
        {% endfor %}
    </section>
</article> 