<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/layouts.css">
<link rel="stylesheet" href="/css/components.css">
{% if extraStyles %}
<link rel="stylesheet" href="{{ extraStyles }}">
{% endif %}
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet"> 