{%- if author -%}
<div class="author-info">
    {%- if author.avatar -%}
    <img src="{{ author.avatar }}" alt="{{ author.name }}" class="author-avatar">
    {%- endif -%}
    <div class="author-details">
        <h3 class="author-name">{{ author.name }}</h3>
        {%- if author.bio -%}
        <p class="author-bio">{{ author.bio }}</p>
        {%- endif -%}
    </div>
</div>{%- endif -%} 