{%- if post -%}
<div class="blog-card">
  {%- if post.thumbnail -%}
  <div class="blog-card-image">
    <img src="{{ post.thumbnail }}" alt="{{ post.title | default('Blog post image') }}">
  </div>
  {%- endif -%}
  <div class="blog-card-content">
    <h2 class="blog-card-title">
      <a href="{{ post.url | default('#') }}">{{ post.title | default('Untitled Post') }}</a>
    </h2>
    {%- if post.description -%}
    <p class="blog-card-description">{{ post.description }}</p>
    {%- endif -%}
    <div class="blog-card-meta">
      {%- if post.date -%}
      {%- set date = post.date -%}
      {%- endif -%}
      {%- if post.readingTime -%}
      {%- set readingTime = post.readingTime -%}
      {%- endif -%}
      {%- if post.tags -%}
      {%- set tags = post.tags -%}
      {%- endif -%}
      {%- include "components/ui/post-meta.njk" -%}
      {%- include "components/ui/post-tags.njk" -%}
    </div>
  </div>
</div>{%- endif -%} 