{% if post.data.thumbnail %}
<div class="blog-card-image">
    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
</div>
{% endif %}
<div class="blog-card-content">
    <h2 class="blog-card-title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    {% if post.data.description %}
    <p class="blog-card-description">{{ post.data.description }}</p>
    {% endif %}
    {% if post.data.ai_metadata %}
    {% set ai_metadata = post.data.ai_metadata %}
    {% include "components/ui/ai-metadata.njk" %}
    {% endif %}
    <div class="blog-card-meta">
        {% set date = post.data.date %}
        {% set readingTime = post.data.readingTime %}
        {% set tags = post.data.tags %}
        {% include "components/ui/post-meta.njk" %}
        {% include "components/ui/post-tags.njk" %}
    </div>
</div> 