{% if date or readingTime %}
<div class="post-meta">
    {% if date %}
    <time datetime="{{ date | dateToISO }}">{{ date | dateToISO | formatDate }}</time>
    {% endif %}
    {% if readingTime %}
    <span class="post-reading-time">{{ readingTime }} min read</span>
    {% endif %}
</div>
{% endif %} 