<div class="submit-banner">
    <div class="container">
        <p>{{ text }}</p>
        <a href="{{ button.url }}" class="button primary" target="_blank" rel="noopener noreferrer">
            {{ button.text }}
        </a>
    </div>
</div> 